<div id="branding-bar" class="iub" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity" role="complementary" aria-labelledby="campus-name">
	<div class="row pad">
			<img src="//assets.iu.edu/brand/3.x/trident-large.png" alt="IU" />
			<p id="iu-campus">
				<a href="https://www.indiana.edu" title="Indiana University Bloomington">
					<span id="campus-name" class="show-on-desktop" itemprop="name">Indiana University Bloomington</span>
					<span class="show-on-tablet" itemprop="name">Indiana University Bloomington</span>
					<span class="show-on-mobile" itemprop="name">IU Bloomington</span>
				</a>
			</p>
	</div>
</div>
